<ion-header>
  <ion-toolbar>
    <ion-title>Crear publicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea
      [(ngModel)]="newPost.description"
      placeholder="Escribe algo interesante..."
    ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Subir Imagen</ion-label>
    <input type="file" (change)="onImageChange($event)" />
  </ion-item>
  <ion-item>
    <ion-label position="floating">URL Video YouTube</ion-label>
    <ion-input
      [(ngModel)]="newPost.videoUrl"
      placeholder="https://youtu.be/XXXXXX"
    ></ion-input>
  </ion-item>

  <div class="d-flex justify-content-center mt-3">
    <ion-button expand="block" color="success" (click)="createPost()">
      Publicar
    </ion-button>
  </div>
</ion-content>
