.button-registrar {
    background-color: #3880ff; /* Color del botón */
    color: white; /* Texto blanco */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px; /* Espaciado dentro del botón */
    font-size: 16px; /* Tamaño de la fuente */
  }
  